.postBody {
  width: 1000px;
  margin: auto;
  margin-bottom: 50px;
  border: 1px solid black;
}
.postPictureBody {
  margin: 40px 300px;
  padding: 180px;
  border: 1px solid black;
}
.classificationButton {
  margin: 10px;
}
.classificationButton div {
  margin: 10px;
}
.missngPlace {
  margin: 10px;
}
.iFound {
  margin: 10px;
}
.location {
  margin: 10px;
}
.exactLocation {
  margin: 20px;
}
.dogInfo {
  margin: 5px 20px;
}
.sex,
.reward {
  margin-left: 10px;
}
.reward input {
  margin-left: 10px;
}
.sexSelect {
  margin: 10px;
}
.explanation {
  margin-left: 20px;
  margin-bottom: 20px;
}
#citySelect {
  display: inline;
  margin-left: 10px;
}
#districtSelect {
  display: inline;
  margin-left: 10px;
}
#classificationSelect {
  margin-left: 10px;
}
.speciesSelect {
  margin: 10px;
}
.no {
  margin-left: 20px;
  margin-top: 10px;
}
.writer {
  margin: 20px;
}
.writer div {
  margin-bottom: 10px;
}
.title {
  margin: 20px;
}
.title div {
  margin-bottom: 10px;
}
.submitButton {
  text-align: center;
  margin-bottom: 20px;
}
