.Home-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.test {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  position: absolute;
  opacity: 0.3;
}

.Home-main-header {
  background-color: whitesmoke;
  padding: 15px;
}
.Home-main-picture {
  background: url("./newDog.jpeg") no-repeat center center fixed;
  min-height: 100%;
  background-size: cover;
  padding-top: 29%;
}
#mm {
  background: url(/static/media/logo.bc57a94f.png) no-repeat;
  background-size: 72px;
  font-size: 70px;
  color: orange;
  font-family: "Gugi", cursive;
  display: inline-block;
  height: 90px;
  opacity: 0.6;
}
#rq {
  background-size: 72px;
  font-size: 70px;
  color: black;
  font-family: "Gugi", cursive;
  opacity: 0.7;
}
#line {
}
.Home-main-comment {
  text-align: center;
}

.homeButtonsAll {
}
.buttons {
  text-align: center;
  margin-top: 1em;
}
.Home-main-button1 button {
  background: gray;
  color: #fff;
  border: none;
  border-radius: 10px;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin-right: 30px;
  opacity: 0.8;
}
.Home-main-button1 button:hover {
  background: black;
  opacity: 0.8;
  color: white;
}
.Home-main-button1 button:before,
.Home-main-button1 button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 4px;
  width: 0;
  background: gray;
  transition: 400ms ease all;
}
.Home-main-button1 button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.Home-main-button1 button:hover:before,
.Home-main-button1 button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.Home-main-button2 button {
  opacity: 0.8;
  background: lightskyblue;
  color: #fff;
  border: none;
  border-radius: 10px;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin-left: 30px;
}
.Home-main-button2 button:hover {
  background: cornflowerblue;
  color: white;
}
.Home-main-button2 button:before,
.Home-main-button2 button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 4px;
  width: 0;
  background: blue;
  transition: 400ms ease all;
}
.Home-main-button2 button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.Home-main-button2 button:hover:before,
.Home-main-button2 button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.homeToMain {
  font-size: 40px;
  text-align: center;
}
.homeToMain a {
  opacity: 0.8;
  background: white;
  color: black;
  border: none;
  border-radius: 10px;
  position: relative;
  height: 60px;
  font-size: 0.5em;
  padding: 2px 1em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.homeToMain a:hover {
  background: lightgreen;
  color: white;
}
.homeToMain a:before,
.homeToMain a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 4px;
  width: 0;
  background: green;
  transition: 400ms ease all;
}
.homeToMain a:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.homeToMain a:hover:before,
.homeToMain a:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
#logo {
  width: 10em;
  border: 1px solid whitesmoke;
  border-radius: 13px;
}
