.container {

}
.witness {
    width: 1000px;
    margin: auto;
}
.witness-header {
}
.witness-header-form {
}
.witness-header-subtitle {
}
.witness-header-searchbar {
}
.witness-header-button {
  width: 20px;
}
.witness-header-write {
}
.witness-container-list {
  display: inline-table;
  width: 300px;
  height: 500px;
}
.witness-container-img {
  width: 200px;
  height: 300px;
}
.witness-container-content {
  width: 200;
  height: 100px;
  float: left;
}
.witness-modal {
}
.witness-modal-img {
  width: 200px;
  height: 300px;
}
ul.pagination {
  background-color: white;
  list-style: none;
}

ul.pagination li {
  display: inline-block;
  border: 1px solid;
  margin: 10px;
}
