.component_body{
  width: 1000px;
  margin: auto;
}

a{
  text-decoration: none;
  color: black;
}

/*------------------------------section1_start---------------------------------*/

.main_pet_notice{
  float: right;
  height: 100%;
}

.notice_contents{
  float: left;
  width: 33%; 
  height: 100%;
  text-align: center;
  display: inline-table
}

.notice_contents p {
  margin: 15px
}
.notice_contents div{
  /* display: table-cell; */
  vertical-align: middle
}

.main_section1_post{
  height: 465px;
  margin: auto;
  margin-bottom: 80px;
  background-position: center;
  background-size: 100%;
  padding: 9px;
  background: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 15px;
  box-shadow: 5px 6px 3px #F5F5F5;
  font-family: 'Jua', sans-serif; 
}

.main_section1_post_back {
  padding: 1em;
  background: url(/static/media/highlighting.20bb1a2e.png) no-repeat;
  background-size: 300px 140px;
  background-position: center;
}

.pet_name {
  padding: 22px;
  font-family: 'Jua', sans-serif;
  font-size: 2em;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pet_breed {
  font-family: 'Jua', sans-serif;
  font-size: 1.3em;
}

.pet_post_contents {
  line-height: 30px;
  margin: auto;
  font-family: 'Sunflower', sans-serif;
  font-size: 1.1em;
  font-weight: bolder;

}

.main_section1_post img{
  border-radius: 15px;
  width: 65%
}


/*------------------------------section1_end---------------------------------*/

/*------------------------------section2_start---------------------------------*/

/* .main_section2_contents {
  height: 1000px;
  margin: auto;
} */

.main_section2_post {
  width: 200px;
  height: 200px;
  margin: 20px 30px 20px 0;
  background-position: center;
  background-size: 100%;
  padding: 9px;
  background: #FFF;
  border: 1px solid #E5E5E5;
  box-shadow: 5px 5px 3px #F5F5F5;
  border-radius: 15px;
  float: left;
}

.main_section2_post img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px
}

.main_section2_post div {
  margin-bottom: 5px
}

.main_section2_plzfind_title {
  display: inline-table;  
  cursor: pointer;
}

.main_section2_plzfind {
  padding-top: 20px;
  font-family: 'Jua', sans-serif;
  font-size: 2em
}

.main_section2_plzfind_line {
  overflow: hidden;
  height: auto;
  margin-top: 120px;
  margin-bottom: 40px;
  border-top: 1.4px dashed #E5E5E5;
}


.main_section2_plzfind_note {
  line-height: 20px;
  font-family: 'Sunflower', sans-serif;
  font-size: 0.4em;
}

article {
  width: 200px;
  float: left;
  margin-right: 50px;
  text-align: center;
}

.article_title {
  height: 325px;
  font-family: 'Cute Font', cursive;
  font-size: 1.7em;
  margin-bottom: 15px;
  font-weight: bold;
}


/*------------------------------section2_end---------------------------------*/