.Footer_line {
  /* margin: 30px 30px 70px; */
  height: 180px;
  background: url(/static/media/logo.31172a39.png) no-repeat;
  background-size: 60px;
  /* background: red */
}

.Footer {
  padding-left: 60px;
    display: table;
    float: right;
    font-family: 'Jua', sans-serif;
    background: url("./foot_icon.png") no-repeat;
    background-size: 34px;
    background-position: 20px;
}

.item {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  display: table-cell;
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  padding-right: 27px;
}


.item:active, .item.active {
  color:mediumblue;
}