.notification-header{
    text-align: center;
    margin-bottom: 20px;  
}
.notification-header-searchbar{
    height: 30px;
    width: 400px;
    
}
.notification-header-button{
    width:2%;
}
.notification-container-outer{
    background-color: white;
    padding-bottom: 30px;
}
.notification-container-inner{
    background-color: pink;
    padding: 10px;
}
.notification-container-img{
    width: 100%;
    height: auto;
}
