.find {
  width: 1100px;
  margin: auto;
}
.component_body {
  width: 1000px;
  margin: auto;
}

.find_section2_posts {
  overflow: hidden;
}

.find_section2_post {
  width: 300px;
  height: 300px;
  margin: 20px 30px 20px 0;
  background-position: center;
  background-size: 100%;
  padding: 9px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 5px 5px 3px #f5f5f5;
  border-radius: 15px;
  float: left;
}

.article_title {
  height: auto;
  font-family: "Cute Font", cursive;
  font-size: 1.7em;
  margin-bottom: 15px;
  font-weight: bold;
}

.find_article {
  width: 283px;
  float: left;
  margin-right: 50px;
  text-align: center;
}

/* ------------------------------ page move button ------------------------------------------- */

.buttonForm {
  text-align: center;
  margin: 60px;
}

button{
  margin: 3px;
  padding: 5px 7px;
  font-size: 0.7em;
}

button:focus{
  outline: none;
}

.clickedButton {
  color: white;
  background: #6565ff;
}


.unclickedButton {
  color: black;
  background: white;
}

.modal {
  position: absolute;
  background: #fff;
  top: 15%;
  left: 11%;
  right: 11%;
  padding: 15px;
  border: 1px solid #444;
  height: 53em;
  margin-top: 10em;
}

.asd {
  float: right;
  padding: 4px;
  font-size: 1em;
}