.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='number'],
.form-group input[type='password'],
.form-group select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group.error input[type='text'],
.form-group.error input[type='email'],
.form-group.error input[type='number'],
.form-group.error input[type='password'],
.form-group.error select {
  border-color: brown;
  color: brown;
}

.form-group.required input[type='text'],
.form-group.required input[type='email'],
.form-group.required input[type='number'],
.form-group.required input[type='password'],
.form-group.required select {
  border-color: #ff9696;
}

.validation-error {
  color: red;
  margin: 5px 0;
  display: inline-block;
}

.login {
  width: 400px;
  margin: 0 auto;
}

button {
  padding: 10px 15px;
  border-radius: 4px;
}

.buttons button {
  margin-left: 10px;
}
.buttons button:first-child {
  margin-left: 0;
}

.disabled {
  color: red;
}
button#jaewan {
  color: blue;
}
